body {
  margin-top: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
/* ---------------Btn1---------------------- */
.Btn1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(155, 0, 0);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn1:hover {
  width: 145px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn1:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn1:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn1:active {
  transform: translate(2px, 2px);
}
/* ---------------Btn2---------------------- */
.btn2 {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: rgb(155, 0, 0);
  transition: 0.5s ease;
}

.btn2:hover {
  color: #ffffff;
  transition-delay: 0.5s;
}

.btn2:hover::before {
  width: 100%;
}

.btn2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: rgb(155, 0, 0);
  transition: 0.4s ease;
  z-index: -1;
}

.btn2:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
